:root {
    /* Color */
    --black: rgb(21, 21, 21);
    --dark-grey: rgb(36, 36, 36);
    --grey: rgb(217, 217, 217);
    --green: rgb(78, 225, 160);
    --green-hover: rgba(78, 225, 160, 0.1);
    --white: rgb(255, 255, 255);
    --red: rgb(255, 111, 91);

    /* Font */
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem; /* 18px(desired font-size) / 16px(defualt browser font-size) = 1.125rem */
    --fs-12: 0.75rem;
    --lh-body: 1.56; /* 28px(desired line-height) / 18px(desired font-size) = 1.56(ratio). This allows the font-size to change and the ratio stay as expected */

    /* Width */
    --container: 100rem; /* 1600px */

    --transition: 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--fs-18);
    line-height: var(--lh-body);
}

h1 {
    font-size: var(--fs-88);
}

h2 {
    font-size: var(--fs-72);
}

h3 {
    font-size: var(--fs-48);
}

h4 {
    font-size: var(--fs-40);
}

h5 {
    font-size: var(--fs-32);
}

a {
    transition: color var(--transition);
}

/* HEADER */

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper {
    width: calc(100% - 4rem); /* (1rem = 16px) */
    max-width: var(--container);
    margin-inline: auto; /* center */
}

.headerNav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end; /* aligns to bottom line */
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
    width: 100%;
}

#logo {
    width: 3.125rem;
    width: clamp(3.125rem, 3.1230456535334583rem + 3.1269543464665412vw, 6.25rem); /* min size:50px, max size:100px, min viewport:1px, max viewport:1600px */
}

.headerHome {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: var(--white);
    flex: 1 0 100%;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header a {
    color: var(--white);
    text-decoration: none;
}

.header a:hover {
    color: var(--green);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}

.headerLinks {
    margin-left: 0rem;
    margin-left: clamp(0rem, -7.5rem + 20vw, 12.5rem); /* min size:0px, max size:200px, min viewport:600px, max viewport:1600px */
}

.headerLinks ul {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end; /* aligns to bottom line */
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
    font-size: var(--fs-18);
    margin-bottom: 0.3rem;
}

.headerSocialLinks {
    margin-bottom: 3rem;
}

.themeSelection {
    width: 40px;
    height: 30px;
}

.themeSelection label {
    padding-top: 1.25rem;
    font-size: var(--fs-12);
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 12px;
}

.themeSelection input:checked + .slider {
    background-color: #66bb6a;
}

.themeSelection input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*.headerLinks a {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
    font-size: var(--fs-24);
}

.headerLinks a:hover {
    color: var(--green);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}*/

/*#githubIcon svg path:nth-of-type(2),
#githubIcon svg path:nth-of-type(3),
#githubIcon svg path:nth-of-type(4) {
    transition: color var(--transition);
}

#githubIcon svg:hover path:nth-of-type(2),
#githubIcon svg:hover path:nth-of-type(3),
#githubIcon svg:hover path:nth-of-type(4) {
    fill: var(--green);
}*/


/* BANNER */
.banner video {
    width: 100%;
    left: 0;
}


/* MAIN */

.main {
    margin-top: 50px;
}

.columns2 {
    display: inline-flex;
    width: 100%;
    /*background-color: var(--grey);*/
}

.columns2Column1 {
    /*background-color: var(--green);*/
    width: 50vw;
    padding: 3rem;
}

.columns2Column2 {
    /*background-color: var(--red);*/
    width: 50vw;
    padding: 3rem;
}

#photoBanner01 {
    width: 100%;
    margin-bottom: 2rem;
}

.photoBoard {
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: center;
    text-align: center;
}

.photoBoard img {
    width: calc(30vw - 1rem);
    margin: 0.3rem;
    justify-content: center;
    text-align: center;
}

.photoBoard img:hover {
    cursor: pointer;
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}


/* FOOTER */

.footer {
    display: flex;
    background-color: var(--dark-grey);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.footer ul {
    text-align: center;
    font-size: var(--fs-18);
    list-style-type: none;
    margin-bottom: 0.3rem;
}

.footerSocialLinks ul {
    margin-top: 30px;
}

.footerSocialLinks ul li svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 1.5rem;
    width: clamp(1.5rem, 1.4990619136960601rem + 1.5009380863039399vw, 3rem); /* min size:24px, max size:48px, min viewport:1px, max viewport:1600px */
}

.footer a {
    color: var(--white);
    text-decoration: none;
}

.footer a:hover {
    color: var(--green);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}


/* MEDIA QUERIES */

/* Mobile */
/* 600px = 37.5em */
@media only screen and (min-width: 1em) and (max-width: 37.5em ) {
    .wrapper {
        width: calc(100% - 3.75rem);
    }
    
    .headerHome {
        flex: 1;
        margin-inline-end: auto;
    }

    /*.headerLinks {
        margin-left: 0px;
    }*/

    .headerSocialLinks {
        margin-bottom: 0rem;
    }
}

/* 840px = 52.5em */
@media only screen and (min-width: 1em) and (max-width: 52.5em ) {
    .columns2 {
        display: block;
    }

    .columns2Column1 {
        width: 100%;
    }
    
    .columns2Column2 {
        width: 100%;
    }
}