:root {
    /* Color */
    --black: #151515;
    --dark-grey: #242424;
    --grey: #D9D9D9;
    --green: #4EE1A0;
    --white: #ffffff;
    --red: #FF6F5B;

    /* Font */
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem; /* 18px(desired font-size) / 16px(defualt browser font-size) = 1.125rem */
    --lh-body: 1.56; /* 28px(desired line-height) / 18px(desired font-size) = 1.56(ratio). This allows the font-size to change and the ratio stay as expected */

    /* Width */
    --container: 100rem; /* 1600px */

    --transition: 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--fs-18);
    line-height: var(--lh-body);
}

a {
    transition: color var(--transition);
}

/* HEADER */

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper {
    width: calc(100% - 4rem); /* (1rem = 16px) */
    max-width: var(--container);
    margin-inline: auto; /* center */
}

.headerNav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end; /* aligns to bottom line */
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
    width: 100%;
}

#logo {
    width: 3.125rem;
    width: clamp(3.125rem, 3.1230456535334583rem + 3.1269543464665412vw, 6.25rem); /* min size:50px, max size:100px, min viewport:1px, max viewport:1600px */
}

.headerHome {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    color: var(--white);
    flex: 1 0 100%;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header a {
    color: var(--white);
    text-decoration: none;
}

.header a:hover {
    color: var(--green);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}

.headerLinks {
    margin-left: 0rem;
    margin-left: clamp(0rem, -7.5rem + 20vw, 12.5rem); /* min size:0px, max size:200px, min viewport:600px, max viewport:1600px */
}

.headerLinks ul {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end; /* aligns to bottom line */
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
    font-size: var(--fs-18);
    margin-bottom: 0.3rem;
}

.headerSocialLinks {
    margin-bottom: 3rem;
}

/*.headerLinks a {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
    font-size: var(--fs-24);
}

.headerLinks a:hover {
    color: var(--green);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}*/

/*#githubIcon svg path:nth-of-type(2),
#githubIcon svg path:nth-of-type(3),
#githubIcon svg path:nth-of-type(4) {
    transition: color var(--transition);
}

#githubIcon svg:hover path:nth-of-type(2),
#githubIcon svg:hover path:nth-of-type(3),
#githubIcon svg:hover path:nth-of-type(4) {
    fill: var(--green);
}*/


/* BANNER */
.banner video {
    width: calc(100vw - 1.1rem);
    left: 0;
}


/* MAIN */

.main {
    margin-top: 50px;
}

.columns2 {
    background-color: var(--grey);
}


/* FOOTER */

.footer {
    display: flex;
    background-color: var(--dark-grey);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.footer ul {
    text-align: center;
    font-size: var(--fs-18);
    list-style-type: none;
    margin-bottom: 0.3rem;
}

.footerSocialLinks ul {
    margin-top: 30px;
}

.footerSocialLinks ul li svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 1.5rem;
    width: clamp(1.5rem, 1.4990619136960601rem + 1.5009380863039399vw, 3rem); /* min size:24px, max size:48px, min viewport:1px, max viewport:1600px */
}

.footer a {
    color: var(--white);
    text-decoration: none;
}

.footer a:hover {
    color: var(--green);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}


/* MEDIA QUERIES */

/* Mobile */
/* 600px = 37.5em */
@media only screen and (min-width: 1em) and (max-width: 37.5em ) {
    .wrapper {
        width: calc(100% - 3.75rem);
    }
    
    .headerHome {
        flex: 1;
        margin-inline-end: auto;
    }

    /*.headerLinks {
        margin-left: 0px;
    }*/

    .headerSocialLinks {
        margin-bottom: 0rem;
    }
}